.ast-separate-container {
    background-color: #FEEFF2;
}

nav#filtrering {
    /*    margin-left: 13vw;*/
    text-align: center;
}

button.filter {
    background-color: #02163B;
    border-radius: 0px;
    margin-left: 10px;
    padding: 13px 5px;
    background-color: #FEEFF2;
    color: #02163B;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 21px;
}

button.filter:hover {
    cursor: pointer;
    transform: scale(1.09);
    transition: .5s ease;
    color: red;
}

button.active {
    color: red;
}


/*
#liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 0px 200px;
}
*/

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin: 0px 110px;
}

img.billede {
    height: 350px;
    width: 350px;
}

h1.type {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.valgt {
    background-color: red;
}

input.search-field {
    border-radius: 35px;
    margin-left: -198px;
    margin-top: 20px;
}

button.search-submit {
    border-radius: 200px;
    background-color: red;
}

input.search-submit {
    display: none;
}



.billede {
    cursor: pointer;
}

.billede:hover {
    cursor: pointer;
    opacity: 0.2;
    /*    transform: scale(1.04);*/
    transition: .5s ease;
}

.hide {
    display: none;
}

.myDIV:hover + .hide {
    display: block;
}



.hide {
    position: relative;
    padding-left: 11px;
    margin-left: 175px;
    /* padding-bottom: 22vw; */
    margin-top: -41px;
    margin-bottom: -80px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin-right: -146px;
    background-color: #02163B;
    color: white;
}

h3.titel {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 20px;
}




/*singleview*/

#first_section {
    background-color: #02163B;
    margin-left: -1000px;
    margin-right: -1000px;
    margin-bottom: 200px;
    height: 30vw;
    object-fit: cover;
}

.lydbolge {
    margin-top: -640px;
    margin-left: -346px;
    margin-right: 220px;
}

img.billede_single {
    margin-top: -500px;
    height: 500px;
    width: 500px;
}

h1.title_single {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #02163B;
    text-transform: uppercase;
}

p.lang_beskrivelse_single {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    color: black;
}

img.billede_episode {
    height: 350px;
    width: 350px;
}

img.billede_episode:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s ease;
}

h2.flere_episoder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    padding-top: 30px;
    margin-bottom: 30px;
}

#episoder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    color: white;
}

.baggrund {
    background-color: #02163B;
    border-radius: 0px;
    margin-left: -120px;
    margin-right: -140px;
    padding-left: 150px;
    padding-right: 100px;
    color: white;
}

.episode_title {
    color: white;
}

.article_episode {
    margin-right: 40px;
    margin-bottom: 40px;
}

#third_section {
    background-color: #FEEFF2;
    margin-left: -1000px;
    margin-right: -1000px;
    margin-bottom: 0px;
    height: 10vw;
    object-fit: cover;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    display: grid;
    margin-top: 40px;
}





/*episodeview*/
#first_section_episode {
    background-color: #02163B;
    margin-left: -1000px;
    margin-right: -1260px;
    margin-bottom: 200px;
    height: 30vw;
    object-fit: cover;
}


/*knapper til tjenester*/

img .loud .loud_knap {
    height: 150px;
    width: 150px;
}


img .spotify .spotify_knap {
    height: 150px;
    width: 150px;
}


img .apple .apple_knap {
    height: 150px;
    width: 150px;
}

/*searchview*/
div.sidebar-main {
    display: none;
}

.ast-separate-container .ast-archive-description,
.ast-separate-container .ast-author-box {
    background-color: #02163B;
    padding-bottom: 20px;
    border-bottom: 0;
}

.ast-archive-description .ast-archive-title {
    font-size: 40px;
    font-size: 2.6666666666667rem;
    color: white;
}




body:not(.rtl) .elementor-128 .elementor-element.elementor-element-40cf79b {
    left: 271px;
    transform: rotate(18deg);
}


.elementor-128 .elementor-element.elementor-element-40cf79b {
    top: 275px;
}


.elementor-68 .elementor-element.elementor-element-95e054b > .elementor-widget-container {
    margin: 0px 1031px 0px 0px;
    padding: 0px 0px 0px 08px;
    background-color: #FFFFFF;
    transform: rotate(18deg);
}

.elementor-128 .elementor-element.elementor-element-40cf79b > .elementor-widget-container {
    margin: 0px 390px 0px 20px;
    padding: 0px 6px 0px 6px;
    background-color: #EF0032;
    transform: rotate(1deg);
}

#live {
    transform: rotate(18deg);
    left: -34px;
    top: 175px;
}

/* NAVIGATION */
.ast-desktop .ast-menu-hover-style-zoom > .menu-item > .menu-link:hover {
    color: #db0038;
}

.ast-header-social-1-wrap .ast-social-color-type-custom .ast-builder-social-element:hover svg {
    transition: all .3s ease;
    transform: scale(1.2);
    color: #db0038;
}




/* FOOTER */
.widget-title {
    font-weight: 800;
}

.ast-footer-social-1-wrap .ast-social-color-type-custom .ast-builder-social-element:hover svg {
    transition: all .3s ease;
    transform: scale(1.07);
}


.footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner a:hover {
    font-weight: 700;
}


img.streaming {
    max-height: 50px;
    max-width: 50px;
}

img.streaming:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .5s ease;
}

.streaming_section {
    margin-left: 30vw;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 10px;
    text-align: center;
}

.baggrund_episode {
    background-color: #02163B;
    border-radius: 0px;
    margin-left: -120px;
    margin-right: -140px;
    padding-left: 150px;
    padding-right: 100px;
    color: white;
    margin-top: -30px;
    padding-top: 120px;
}

#episoder_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    color: white;
}



/*mobile-version*/
@media (max-width: 375px) {
    section#liste.podcastcontainer {
        margin-left: 40px;
    }

    h1.type {
        margin-left: 40px;

    }

    #episoder {
        display: block;
        margin-right: 40px;
        margin-left: -20px;
    }

    img.billede_single {
        height: 330px;
        width: 330px;
        margin-top: 0px;
        margin-left: 20px;
    }

    #first_section {
        display: none;
    }

    .streaming_section {
        margin-left: 15vw;
    }

    /*
    .ast-separate-container #content .ast-container {
        padding-left: 0.54em;
        padding-right: 2.54em;
    }
*/
    .baggrund {
        margin-right: -150px;
        margin-left: -100px;
    }

    #episoder_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px;
        color: white;
        display: block;
    }

    .baggrund_episode {
        background-color: #02163B;
        border-radius: 0px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 30px;
        padding-right: 40px;
        color: white;
        margin-top: -30px;
        padding-top: 120px;
    }

    .hide {
        position: relative;
        padding-left: 11px;
        margin-left: 150px;
        /* padding-bottom: 22vw; */
        margin-top: -39px;
        margin-bottom: -80px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        margin-right: -150px;
        background-color: #02163B;
        color: white;
    }

    #third_section {
        margin-right: 0px;
    }

    .baggrund {
        margin-right: 0px;
        margin-left: 0px;

        padding-left: 50px;
        padding-right: 0px;
    }

    .article_episode {
        margin-right: -10px;
        margin-bottom: 40px;
    }

    img.billede_single {
        height: 330px;
        width: 330px;
        margin-top: 40px;
    }
